In [3]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#Loading dataset
dataset =load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [4]:
df.loc[:10, 'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0               NaN              NaN
1               NaN              NaN
2               NaN              NaN
3               NaN              NaN
4               NaN              NaN
5               NaN              NaN
6               NaN              NaN
7               NaN              NaN
8               NaN              NaN
9               NaN              NaN
10              NaN              NaN

In [8]:
median_salary_year = df['salary_year_avg'].median()

In [13]:
median_salary_hour = df['salary_hour_avg'].median()

In [14]:
df_filled = df

df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [17]:
df_unique = df_filled

df_unique = df_unique.drop_duplicates()

print("Original df:    ", len(df_filled)) 
print("Droped duplicates df:    ", len(df_unique))
print("difference:  ", len(df_filled)-len(df_unique))

Original df:     785741
Droped duplicates df:     785640
difference:   101

In [18]:
df_unique = df_unique.drop_duplicates(subset = ['job_title','company_name'])

print("Original df:    ", len(df_filled)) 
print("Droped duplicates df:    ", len(df_unique))
print("difference:  ", len(df_filled)-len(df_unique))

Original df:     785741
Droped duplicates df:     508042
difference:   277699